@{
    ViewBag.Title = "JavaScript Objects";
}

<script src="~/Scripts/Training/objects.js"></script>

<h2>Java Script Objects</h2>
<p>
    We will create objects in JavaScript and explore how we can simulate
    classes, encapsulation and inheritance.
</p>

<br />

<form id="inheritance-test">
    <fieldset>
        <legend>Inheritance</legend>

        <p>
            Let's test some inheritance.
        </p>

        <input type="text" class="input-lg" id="inheritance-input">
        <input type="button" class="btn-lg" id="inheritance-btn" value="Test"/>

        <br />

        <code class="prettyprint">class Voila {
            public:
            // Voila
            static const string VOILA = "Voila";

            // will not interfere with embedded <a href="#voila2">tags</a>.
            } </code>

    </fieldset>
</form>

<form id="session-storage-test">
    <fieldset>
        <legend>Session Storage</legend>

        <p>
            Session storage is similar to local storage with the crucial difference
            that after we close the window/session, the data is automatically deleted.
        </p>  
    </fieldset>

    <br />
</form>

<script>
    $(document).ready(function () {
    });
</script>

