/*
    Style for the calculator page.
*/

body {
    width: 100%;
    font-family: Arial;
}

/* Class selectors */
.btn-default {
    color: cornflowerblue;
    width: 50px;
    height: 50px;
}

/* ID selectors */
#calculator {
    width: 300px;

    margin-left: auto;
    margin-right: auto;
}

#input, #output {
    width: 220px;
}

#clear-button {
    width: 217px
}

#keypad, #input, #output {
    font-size: 20px;
}

#left-banner {
    float: left;
    width: 20%;
    min-width: 125px;
}


