@{
    ViewBag.Title = "Calculator";
}

<link rel="stylesheet" href="~/Content/Calculator.css" />
<script src="~/Scripts/"></script>

<h2>Calculator</h2>

<div class="form-group" id="calculator">
    <div class="input-group" id="input-output-form">
        <div id="input">
            <input id="input" type="text" readonly="readonly" />
        </div>
        <div id="output">
            <input id="output" type="text" readonly="readonly" />
        </div>
    </div>

    <div class="btn-block" id="keypad" role="form">
        <br />

        <div class="btn-group">
            <input class="btn-default" type="button" id="number7" value="7">
            <input class="btn-default" type="button" id="number8" value="8">
            <input class="btn-default" type="button" id="number9" value="9">
            <input class="btn-default" type="button" id="addition" value="+">
        </div>

        <br />

        <div class="btn-group">
            <input class="btn-default" type="button" id="number4" value="4">
            <input class="btn-default" type="button" id="number5" value="5">
            <input class="btn-default" type="button" id="number6" value="6">
            <input class="btn-default" type="button" id="subtraction" value="&nbsp-">
        </div>

        <br />

        <div class="btn-group">
            <input class="btn-default" type="button" id="number1" value="1">
            <input class="btn-default" type="button" id="number2" value="2">
            <input class="btn-default" type="button" id="number3" value="3">
            <input class="btn-default" type="button" id="multiplication" value="&nbsp*">
        </div>

        <br />

        <div class="btn-group">
            <input class="btn-default" type="button" id="number1" value="&nbsp.">
            <input class="btn-default" type="button" id="number0" value="0">
            <input class="btn-default" type="button" id="number1" value="=">
            <input class="btn-default" type="button" id="division" value="&nbsp/">
        </div>
    </div>
</div>


