<link rel="stylesheet" href="~/Content/forms.css" />

<h1>Simple demonstration of using forms and submiting input in HTML5.</h1>

<div class="form-group">
    Submiting a form through normal input.
    <form id="userInfo">
        <label>Name:</label><input type="text" name="name" required />
        <label>Age:</label><input type="text" name="age" placeholder="" required />
        <label>E-mail:</label><input type="text" name="email" placeholder="Please enter a valid e-mail." required />

        <input type="submit" />
    </form>
</div>

<br />

    Submit a form with jQuery.
<div class="form-group">
    <form id="userInfo2">
        <label>Name:</label><input type="text" name="name" required />
        <label>Age:</label><input type="text" name="age" placeholder="" required />
        <label>E-mail:</label><input type="text" name="email" placeholder="Please enter a valid e-mail." required />

        <button id="submit-button">Submit</button>
        <button id="serialize-button">Serialize</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        // Attach event handlers properly.
        $("#submit-button").off("click").on("click", submitForm);
        $("#serialize-button").off("click").on("click", serializeForm);

        function submitForm() {
            $("#submit-button").submit();
        }

        function serializeForm() {
            var formData = $("#userInfo2").serialize();
            var data = decodeURIComponent(formData);

            alert('Decoded data from serialization: ' + data);
        }
    })
</script>
